// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  text-align: center;
  background-color: #000;
  font-family: Inconsolata, sans-serif;
}

#calculator {
  display: inline-block;
  width: 400px;
  height: 500px;
  border: 1px #aaa solid;
  background-color: #fff;
  padding: 15px;
}

.calc-screen {
  width: 100%;
  height: 60px;
  background-color: #eee;
  border: 1px solid #aaa;
  text-align: right;
  padding: 20px;
  font-size: 2em;
}

.calc-screen span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calc-buttons {
  margin-top: 20px;
}

.calc-button {
  float:left;
  width: 92px;
  height: 92px;
  border: 1px solid #eee;
  background-color: #ccc;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #bbb;
}

.calc-button span {
  font-size: 2em;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}